[submodule "dependencies/llvm"]
	path = dependencies/llvm
	url = http://llvm.org/git/llvm.git
	branch = release_35
[submodule "dependencies/byacc"]
	path = dependencies/byacc
	url = https://github.com/grandseiken/byacc.git
[submodule "dependencies/flex"]
	path = dependencies/flex
	url = https://github.com/grandseiken/flex.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = http://git.chromium.org/external/googletest.git
[submodule "dependencies/sphinx"]
	path = dependencies/sphinx
	url = https://github.com/sphinx-doc/sphinx
[submodule "dependencies/pygments"]
	path = dependencies/pygments
	url = https://github.com/zmughal/pygments-mirror
