[submodule "dependencies/llvm"]
	path = dependencies/llvm
	url = http://llvm.org/git/llvm.git
	branch = release_33
[submodule "dependencies/byacc"]
	path = dependencies/byacc
	url = https://github.com/grandseiken/byacc.git
[submodule "dependencies/flex"]
	path = dependencies/flex
	url = https://github.com/grandseiken/flex.git
